<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Title</title>
        <link rel="stylesheet" href="">
    </head>

    <body>
        <h1>Dictionary App</h1>
        <h2>Enter a word to get it's definition.</h2>
        <p>Url Format: http://127.0.0.1:5001/api/v1/word</p>
        <p>Url Example: http://127.0.0.1:5001/api/v1/sun</p>
        <p>Enter the <b>Url</b> in above mentioned format to avoid getting any errors.</p>
    </body>
</html>